@import "reset.css";
@import "normalize.css";
@import "reset.css";
@import "normalize.css";

body{
	font: normal 14px 'Open Sans',  Arial, sans-serif;
	color: #999;
	background: #f1f1f1;
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list {
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
}

.delete-button {
	margin-left: 200px;
}

#title{
	padding-top: 35px;
	text-align: center;
	font-size: 50px;
}

#box{
	padding-top: 20px;
	text-align: center;

}

#logout{
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
}

@media screen and (max-width: 375px){
	.task-list{
		width: 58%;
	}

	.add-new-task{
		width: 58%;
		display: inline-block;
	}
	nav ul {
	margin: 40px;
	width: 300px;
	display: inline-block;
  	text-align: center;
  	background: rgba(255, 255, 255, 1);
  	box-shadow: 2px 2px 0px #ddd;
}
